/* 输入框统一样式 */
div.input-group
	padding-bottom 0.4rem
	margin-bottom 0.5rem
	border-bottom 0.02rem solid #e4e4e4
	&.last-group
		border-bottom 0 none
		margin-bottom 0
		padding-bottom 0
	&.leave-message
		box-sizing border-box
		height 2rem
		margin-bottom 0.27rem
		background-color #fff
		border #e4e4e4 solid 0.02rem
		border-radius 0.2rem
		padding 0.32rem 0.2rem 0 0.2rem
	.van-cell
		justify-content flex-start
		padding 0
		background-color transparent
		.van-cell__title
			font-size 0.32rem
			color #444
		.van-field__control
			font-size 0.32rem
			color #444
